.footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    bottom: 0;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f46a78;
    color: #ffffff;
}

p {
    text-align: center;
}