.bottom-bar {
    color: #ffffff;
    height: 22px;
    font-size: 18px;
    margin-top: 310px;
    margin-left: 15px;
}

.box {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.bottom-bar a {
    color: #000000;
}

.bottom-bar a:hover {
    text-decoration: underline;
}
